# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/
.cache/

# Logs
*.log

# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno
.env
.env.*

# Sistema (Mac)
.DS_Store

# IDEs
.vscode/
.idea/